:host {
  display: block;
  grid-area: footer;
}

.container-fluid {
  background-image: url("../../../assets/carretera_aerea_1.webp");
  background-size: cover;
  background-position: bottom;
  filter: grayscale(50%) hue-rotate(110deg);
  transition: 0.3s ease-in-out;
  user-select: none;

  &:hover {
    filter: grayscale(0%);
  }
}

.container-fluid:hover {
  filter: grayscale(0%);
}

.rrss a i:hover,
.enlaces a:hover {
  transform: scale(1.5) !important;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(#ffffff, 0.7);
}

.nga-footer {
  width: 100%;
  color: white;
}

.nga-footer a {
  color: white;
  text-decoration: none;
}

a {
  transition: 0.2s;
  border-radius: 5px;
}

@media (max-width: 992px) {
  button {
    margin-bottom: 1em;
  }
}

p-messages {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 320px !important;
  z-index: 1000;
  padding: 0 !important;
}
