
<footer class="nga-footer mt-auto">
    <div class="container-fluid bg-dark text-ligh py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center rrss">
                    <a href="#" class="me-4"><i class="fa-brands fa-facebook-f" style="font-size: 30px;"></i></a>
                    <a href="#" class="me-4"><i class="fa-brands fa-twitter" style="font-size: 30px;"></i></a>
                    <a href="#" class="me-4"><i class="fa-brands fa-instagram" style="font-size: 30px;"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube" style="font-size: 30px;"></i></a>
                </div>
            </div>
            
            <hr class="my-4">
            <div class="row mt-3 justify-content-center">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 - TuAbonoOnline</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center enlaces">
                    <a href="#" class="me-3">Terminos y condiciones</a>
                    <a href="#" class="me-3">Politicas de privacidad</a>
                    <a href="#">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
</footer>