<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/AbonoLogoUpscale.png"
        alt="Logo"
        width="175px"
        [style]="{ 'margin-right': '3vw' }"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div></div>
      <div></div>
      <div></div>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/map']"
            routerLinkActive="active-link"
            >Mapa</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/datadisplay']"
            routerLinkActive="active-link"
            >Abonos</a
          >
        </li>
        <li *ngIf="isUserAdmin" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
          >
            Editar
          </a>
          <ul class="dropdown-menu text-center">
            <li>
              <a class="dropdown-item" [routerLink]="['/pass_list']"
                >Editar abono</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/refill_list']"
                >Registrar recarga</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/profile']"
            routerLinkActive="active-link"
            >&#64;{{ username }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
