<div class="card justify-content-center">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>

<div *ngIf="data; else loading" class="container">
  <button
    [routerLink]="['/refill_list']"
    class="btn btn-secondary mb-6"
    style="background-color: transparent; border: none"
  >
    <i
      class="bi bi-arrow-left-circle-fill"
      style="color: #99b8b2; font-size: 2rem"
    ></i>
  </button>
  <h2 class="mb-6">Detalles de {{ data.name }}</h2>
  <div class="form-item">
    <label>Compañía:</label>
    <input [(ngModel)]="data.company" />
  </div>
  <div class="form-item">
    <label>Nombre:</label>
    <input [(ngModel)]="data.name" />
  </div>
  <div class="form-item">
    <label>Descripción:</label>
    <textarea [(ngModel)]="data.description" maxlength="350"></textarea>
  </div>
  <div class="form-item">
    <label>Tipo:</label>
    <input [(ngModel)]="data.type" />
  </div>
  <div class="form-item">
    <label>Pass ID:</label>
    <input [(ngModel)]="data.passId" />
  </div>
  <div class="form-item mb-6">
    <label class="mb-4" style="font-style: italic">Coordenadas</label>
    <button class="add-coordinate" (click)="addCoor()">
      Añadir coordenada
    </button>
    <div *ngFor="let coordinate of data.coordinates; let i = index">
      <hr class="my-4" style="border: 1px solid black; width: 100%" />
      <div>
        <label class="mb-4"> - Posición nº {{ i + 1 }} - </label>
        <label>Latitud:</label>
        <input [(ngModel)]="coordinate.latitude" />
        <label>Longitud:</label>
        <input [(ngModel)]="coordinate.longitude" />
        <button
          class="delete-coordinate"
          (click)="confirmDeleteCoor($event, i)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
  <hr class="my-4" style="border: 1px solid black; width: 100%" />
  <div class="buttons-actions">
    <button (click)="saveThisRefill()">
      {{ isNew ? "Crear" : "Actualizar" }}
    </button>
    <button *ngIf="!isNew" (click)="confirmDeleteRefill($event)">
      Eliminar
    </button>
  </div>
</div>
<ng-template #loading>
  <div>
    <p>Cargando datos...</p>
  </div>
</ng-template>
