<div class="container">
  <h1>Bienvenido {{ name }}.</h1>

  <p>Eres usuario desde: {{ createdAt | date: "longDate" }}.</p>

  <h2 class="mt-6">Pases Favoritos</h2>
  <div *ngIf="favoritePasses.length > 0; else noFavorites" class="row">
    <div *ngFor="let pass of favoritePasses" class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ pass.name }}</h5>
          <p class="card-text">{{ pass.description }}</p>
          <p class="card-text"><strong>Precio:</strong> {{ pass.price }}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noFavorites>
    <div class="noData">
      <p>No hay pases favoritos disponibles.</p>
      <img
        src="../../../assets/guy_thinking.png"
        alt="No hay pases favoritos disponibles"
      />
    </div>
  </ng-template>
</div>
