<div class="container">
  <h1 style="padding-top: 4rem; padding-bottom: 1rem">Bienvenido {{ name }}.</h1>

  <p>Eres usuario desde: {{ createdAt | date: "longDate" }}.</p>

  <h2 class="mt-6" style="padding-bottom: 2rem;">Pases Favoritos.</h2>
  <div *ngIf="favoritePasses.length > 0; else noFavorites" class="row">
    <div *ngFor="let pass of favoritePasses" class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ pass.name }}</h5>
          <img
            *ngIf="pass.image"
            src="../../../assets/passes/{{ pass.image }}"
            alt="{{ pass.name }}"
            width="400vw"
            class="mb-3 align-self-center"
          />
          <p class="card-text">{{ pass.description }}</p>
          <button
            class="btn btn-primary"
            (click)="onSelectPass(pass.id)"
            style="width: 100%"
          >
            Ver Pase
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noFavorites>
    <div class="noData">
      <p>No hay pases favoritos disponibles.</p>
      <img
        src="../../../assets/guy_thinking.png"
        alt="No hay pases favoritos disponibles"
      />
    </div>
  </ng-template>
</div>
