.card {
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1em;
    background-color: #fff;
    overflow: scroll;
    height: 500px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h2 {
    font-size: 1.5rem;
}

.card h3 {
    font-size: 1.2rem;
}



.card ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}