@if (data.length > 0) {
  <div>
    @for (item of data; track item) {
      <div>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p><strong>Company:</strong> {{ item.company }}</p>
        <p><strong>Type:</strong> {{ item.type }}</p>
        <p><strong>Price:</strong> {{ item.price }}</p>
        <img [src]="item.image" alt="{{ item.name }}" width="200">
        <div>
          <h3>Coordinates:</h3>
          <ul>
            @for (coord of item.coordinates; track coord) {
              <li>
                Latitude: {{ coord.latitude }}, Longitude: {{ coord.longitude }}
              </li>
            }
          </ul>
        </div>
        <div>
          <h3>Valid Period:</h3>
          <p>Start Date: {{ item.valid_period.start_date}}</p>
          <p>End Date: {{ item.valid_period.end_date}}</p>
        </div>
      </div>
    }
  </div>
}
@if (data.length === 0) {
  <div>
    <p>No data available.</p>
  </div>
}