<div class="card justify-content-center">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>

<div *ngIf="data; else loading" class="container">
  <button
    [routerLink]="['/pass_list']"
    class="btn btn-secondary mb-6"
    style="background-color: transparent; border: none"
  >
    <i
      class="bi bi-arrow-left-circle-fill"
      style="color: #99b8b2; font-size: 2rem"
    ></i>
  </button>
  <h2 class="mb-6">Detalles de {{ data.name }}</h2>
  <div class="form-item">
    <label>Compañía:</label>
    <input [(ngModel)]="data.company" />
  </div>
  <div class="form-item">
    <label>Nombre:</label>
    <input [(ngModel)]="data.name" />
  </div>
  <div class="form-item">
    <label>PassID:</label>
    <p>{{ data.id }}</p>
  </div>
  <div class="form-item">
    <label>Descripción:</label>
    <textarea [(ngModel)]="data.description"></textarea>
  </div>
  <div class="form-item">
    <label>Periodo de validez:</label>
    <div>
      <label>Inicio:</label>
      <input type="date" [(ngModel)]="data.valid_period.start_date" />
    </div>
    <div>
      <label>Fin:</label>
      <input type="date" [(ngModel)]="data.valid_period.end_date" />
    </div>
  </div>
  <div class="form-item">
    <label>Precio:</label>
    <input type="number" [(ngModel)]="data.price" />
  </div>
  <div class="form-item">
    <label>Imagen URL:</label>
    <input [(ngModel)]="data.image" />
  </div>
  <div class="form-item">
    <label>Tipo:</label>
    <input [(ngModel)]="data.type" />
  </div>
  <div class="form-item mb-6">
    <label class="mb-4" style="font-style: italic">Coordenadas</label>
    <div *ngFor="let coordinate of data.coordinates; let i = index">
      <hr class="my-4" style="border: 1px solid black; width: 100%" />
      <div>
        <label class="mb-4"> - Posición nº {{ i + 1 }} - </label>
        <label>Latitud:</label>
        <input [(ngModel)]="coordinate.latitude" />
        <label>Longitud:</label>
        <input [(ngModel)]="coordinate.longitude" />
        <button
          class="delete-coordinate"
          (click)="confirmDeleteCoor($event, i)"
        >
          Eliminar
        </button>
      </div>
    </div>
    <button class="add-coordinate" (click)="addCoor()">
      Añadir coordenada
    </button>
  </div>
  <hr class="my-4" style="border: 1px solid black; width: 100%" />
  <div class="buttons-actions">
    <button (click)="savePass()">
      {{ isPassNew ? "Crear" : "Actualizar" }}
    </button>
    <button *ngIf="!isPassNew" (click)="confirmDeletePass($event)">
      Eliminar
    </button>
  </div>
</div>
<ng-template #loading>
  <div>
    <p>Cargando datos...</p>
  </div>
</ng-template>
