<div
  id="myCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="3000"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/home/bus_interior.jpg"
        class="d-block w-100"
        alt="Transport Options"
      />
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Información de Transporte</h1>
          <p>Conoce todas las opciones de transporte disponibles en tu área.</p>
          <p>
            <a class="btn btn-lg btn-primary" [routerLink]="['/map']"
              >Más información</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/home/tarjetas.webp"
        class="d-block w-100"
        alt="Tarifas"
      />
      <div class="container">
        <div class="carousel-caption">
          <h1>Tarifas y Abonos</h1>
          <p>Descubre las tarifas que mejor se ajustan a ti.</p>
          <p>
            <a class="btn btn-lg btn-primary" [routerLink]="['/datadisplay']"
              >Ver tarifas</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/home/parada.jpg"
        class="d-block w-100"
        alt="Recarga"
      />
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Puntos de Recarga</h1>
          <p>Encuentra los lugares de recarga más cercanos.</p>
          <p>
            <a class="btn btn-lg btn-primary" [routerLink]="['/map']"
              >Buscar puntos de recarga</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img
        src="../../../assets/pass-house-pin.webp"
        class="bd-placeholder-img rounded-circle"
        style="max-width: 300px; max-height: 300px"
        alt="Lugar de obtención de abono"
      />
      <h2>Obtener Abono</h2>
      <p>
        Encuentra aquí todos los lugares donde puedes obtener un abono para el
        transporte. Estos lugares incluyen oficinas de atención al cliente y
        sitios especialmente designados para ello.
      </p>
    </div>
    <div class="col-lg-4">
      <img
        src="../../../assets/pass-refill-pin.webp"
        class="bd-placeholder-img rounded-circle"
        style="max-width: 300px; max-height: 300px"
        alt="Lugar de recarga de abono"
      />
      <h2>Ambos</h2>
      <p>
        Descubre los puntos donde puedes tanto conseguir un nuevo abono como
        recargar uno existente. Estos lugares ofrecen ambos servicios para tu
        comodidad.
      </p>
    </div>
    <div class="col-lg-4">
      <img
        src="../../../assets/recharge-pin.webp"
        class="bd-placeholder-img rounded-circle"
        style="max-width: 300px; max-height: 300px"
        alt="Lugares para conseguir y recargar abono"
      />
      <h2>Recargar Abono</h2>
      <p>
        Son aquellos puntos donde puedes recargar tu abono existente. Estos
        incluyen máquinas de recarga automáticas y puntos de venta autorizados.
      </p>
    </div>
  </div>
  <hr class="featurette-divider" />
</div>

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading">
        Centralización de Información.<br /><span class="text-muted"
          >Todo en un solo lugar.</span
        >
      </h2>
      <p class="lead">
        Accede fácilmente a toda la información actualizada sobre transporte
        público en tu área.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/central.webp"
        class="featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        alt="Centralización de Información"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading">
        Experiencia Personalizada.<br /><span class="text-muted"
          >Basada en tus necesidades.</span
        >
      </h2>
      <p class="lead">
        Nuestra aplicación te proporciona una experiencia personalizada basada
        en las opciones disponibles para ti.
      </p>
    </div>
    <div class="col-md-6 order-md-1">
      <img
        src="../../../assets/central2.webp"
        class="featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        alt="Experiencia Personalizada"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette" style="padding-bottom: 4rem">
    <div class="col-md-6">
      <h2 class="featurette-heading">
        Fomento del Transporte Público.<br /><span class="text-muted"
          >Ahorra tiempo y energía.</span
        >
      </h2>
      <p class="lead">
        Con nuestra aplicación, fomentar el uso del transporte público nunca ha
        sido tan fácil.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/time.webp"
        class="featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        alt="Fomento del Transporte Público"
      />
    </div>
  </div>
</div>
