<!-- detailcomponent.component.html -->
<div *ngIf="data; else loading">
    <h1>Detalles del Pase</h1>
    <div>
      <label>Compañía:</label>
      <input [(ngModel)]="data.company" />
    </div>
    <div>
      <label>Nombre:</label>
      <input [(ngModel)]="data.name" />
    </div>
    <div>
      <label>Descripción:</label>
      <textarea [(ngModel)]="data.description"></textarea>
    </div>
    <div>
      <label>Periodo de validez:</label>
      <div>
        <label>Inicio:</label>
        <input type="date" [(ngModel)]="data.valid_period.start_date" />
      </div>
      <div>
        <label>Fin:</label>
        <input type="date" [(ngModel)]="data.valid_period.end_date" />
      </div>
    </div>
    <div>
      <label>Precio:</label>
      <input type="number" [(ngModel)]="data.price" />
    </div>
    <div>
      <label>Imagen URL:</label>
      <input [(ngModel)]="data.image" />
    </div>
    <div>
      <label>Tipo:</label>
      <input [(ngModel)]="data.type" />
    </div>
    <div>
      <label>Coordenadas:</label>
      <div *ngFor="let coordinate of data.coordinates; let i = index">
        <div>
          <label>Latitud:</label>
          <input [(ngModel)]="coordinate.latitude" />
          <label>Longitud:</label>
          <input [(ngModel)]="coordinate.longitude" />
        </div>
      </div>
    </div>
    <div>
      <button (click)="onUpdate()">Actualizar</button>
      <button (click)="onDelete()">Eliminar</button>
    </div>
  </div>
  <ng-template #loading>
    <div>
      <p>Cargando datos...</p>
    </div>
  </ng-template>
  