/* You can add global styles to this file, and also import other style files */

:root {
  --color-combine: #505A8A;

  --red-icon: #C32928; // dark red
  --color-secondary: #FFD700; // gold
  --color-tertiary: #333333;

  .btn-primary {
    background-color: var(--red-icon);
    border-color: var(--red-icon);
    color: whitesmoke;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .btn-primary:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: black;
  }

  .btn-primary:active:focus {
    background-color: var(--red-icon);
    border-color: var(--red-icon);
    color: var(--color-tertiary);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
}

