:root {
  --color-combine: #505a8a;
  --red-icon: #c32928;
  --color-secondary: #ffd700;
  --color-tertiary: #333333;

  .btn-primary {
    background-color: var(--red-icon);
    border-color: var(--red-icon);
    color: whitesmoke;
    transition:
      background-color 0.3s,
      color 0.3s,
      border-color 0.3s;
  }

  .btn-primary:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: black;
  }

  .btn-primary:active:focus {
    background-color: var(--red-icon);
    border-color: var(--red-icon);
    color: var(--color-tertiary);
    transition:
      background-color 0.3s,
      color 0.3s,
      border-color 0.3s;
  }

  .dropdown-menu {
    width: 100% !important;
  }
  a.dropdown-item:hover {
    background-color: transparent !important;
    translate: -2px 2px;
    scale: 1;
  }
}
